asgiref==3.2.7
Babel==2.8.0
Django==3.0.6
django-formtools==2.2
django-otp==0.9.1
django-phonenumber-field==3.0.1
django-two-factor-auth==1.11.0
phonenumbers==8.12.3
pytz==2020.1
qrcode==6.1
six==1.14.0
sqlparse==0.3.1
